<a href="https://colab.research.google.com/github/Gail529/Text-Classification-/blob/master/disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#getting the relevant tweets
import pandas as pd
import numpy as np
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re 
import string
from nltk.tokenize import word_tokenize,sent_tokenize
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
data=pd.read_csv('/content/train (1).csv')

In [ ]:
data.head()

   id keyword  ...                                               text target
0   1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1   4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2   5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3   6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4   7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1

[5 rows x 5 columns]

In [ ]:
#preprocessing all the songs
for i in range(0,len(data)):
    tweet=data.iloc[i,3]
    #removing numbers
    text=re.sub(r'\d+','',tweet)
 
    #lowercasing
    text_lower=text.lower()
 
    #punctuation removal 
    def  remove_punctuation(word): #function will take in the lowercased text and then remove all the punctuation
        translator=str.maketrans('','',string.punctuation)
        text_punct=word.translate(translator)
        return text_punct
    result=remove_punctuation(text_lower) #storing the resulting body of  text in variable result
 
    #removing stopwords 
    def remove_stopwords(word):#The function will tokenize the result and then filter off  the stop_words 
        stop_words=set(stopwords.words("english")) 
        word_tokens= word_tokenize(word)
        result=[word for word in word_tokens if word not in stop_words] 
        return result
    preprocessed_tweet=remove_stopwords(result)
 
    #replacing the values of the lyrics column in the dataframe with the  preprocessed  lyrics
    data.iat[i,3]=preprocessed_tweet

In [ ]:
sample=data.head(20)
sample

    id keyword  ...                                               text target
0    1     NaN  ...  [deeds, reason, earthquake, may, allah, forgiv...      1
1    4     NaN  ...      [forest, fire, near, la, ronge, sask, canada]      1
2    5     NaN  ...  [residents, asked, shelter, place, notified, o...      1
3    6     NaN  ...  [people, receive, wildfires, evacuation, order...      1
4    7     NaN  ...  [got, sent, photo, ruby, alaska, smoke, wildfi...      1
5    8     NaN  ...  [rockyfire, update, california, hwy, closed, d...      1
6   10     NaN  ...  [flood, disaster, heavy, rain, causes, flash, ...      1
7   13     NaN  ...                  [im, top, hill, see, fire, woods]      1
8   14     NaN  ...  [theres, emergency, evacuation, happening, bui...      1
9   15     NaN  ...                [im, afraid, tornado, coming, area]      1
10  16     NaN  ...             [three, people, died, heat, wave, far]      1
11  17     NaN  ...  [haha, south, tampa, getting, flooded, hah, wa...      1
12  18     NaN  ...  [raining, flooding, florida, tampabay, tampa, ...      1
13  19     NaN  ...              [flood, bago, myanmar, arrived, bago]      1
14  20     NaN  ...  [damage, school, bus, multi, car, crash, break...      1
15  23     NaN  ...                                       [whats, man]      0
16  24     NaN  ...                                     [love, fruits]      0
17  25     NaN  ...                                   [summer, lovely]      0
18  26     NaN  ...                                        [car, fast]      0
19  28     NaN  ...                                  [goooooooaaaaaal]      0

[20 rows x 5 columns]

In [ ]:
#splitting the training and testing data
x=data['text'].values
y=data['target'].values
#vectorizing the text
tfidfVectorizer=TfidfVectorizer(max_features=5000)
for i in x:
    text_vectors=tfidfVectorizer.fit_transform(i)

In [ ]:
x=data['text'].values
print(x)

[list(['deeds', 'reason', 'earthquake', 'may', 'allah', 'forgive', 'us'])
 list(['forest', 'fire', 'near', 'la', 'ronge', 'sask', 'canada'])
 list(['residents', 'asked', 'shelter', 'place', 'notified', 'officers', 'evacuation', 'shelter', 'place', 'orders', 'expected'])
 ... list(['utckm', 'volcano', 'hawaii', 'httptcozdtoydebj'])
 list(['police', 'investigating', 'ebike', 'collided', 'car', 'little', 'portugal', 'ebike', 'rider', 'suffered', 'serious', 'nonlife', 'threatening', 'injuries'])
 list(['latest', 'homes', 'razed', 'northern', 'california', 'wildfire', 'abc', 'news', 'httptcoymyrskqd'])]

In [ ]:
print(text_vectors)

  (0, 4)	1.0
  (1, 2)	1.0
  (2, 7)	1.0
  (3, 6)	1.0
  (4, 1)	1.0
  (5, 8)	1.0
  (6, 0)	1.0
  (7, 5)	1.0
  (8, 3)	1.0

In [ ]:
def dummy_fun(doc):
    return doc

tfidf=TfidfVectorizer(
    analyzer='word',
    tokenizer=dummy_fun,
    preprocessor=dummy_fun,
    token_pattern=None)

In [ ]:
tfidf.fit(x)
text_vactors=tfidf.transform(x)
text_vectors

<9x9 sparse matrix of type '<class 'numpy.float64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [ ]:
print(text_vectors)

  (0, 4)	1.0
  (1, 2)	1.0
  (2, 7)	1.0
  (3, 6)	1.0
  (4, 1)	1.0
  (5, 8)	1.0
  (6, 0)	1.0
  (7, 5)	1.0
  (8, 3)	1.0

In [ ]:
from sklearn import model_selection,svm
SVM=svm.SVC(C=1.0,kernel='linear',degree=3,gamma='auto')
SVM.fit(text_vectors,y)

ValueError: ignored

In [ ]:
from nltk.tokenize import TweetTokenizer
tweet_tokenizer=TweetTokenizer()
tweet_tokens=[]
for i in range(0,len(data)):
    tweet=data.iloc[i,3]
    tweet_tokens.append(tweet_tokenizer.tokenize(tweet))

In [ ]:
tweet_tokens